body {
  background-color: #333;

  font-family: Helvetica;
}

#container {
  /*  position: absolute;
  top: 50%;
  left: 50%;*/
  width: 700px;
  height: 400px;
  margin: 0 auto;

  text-align: center;

  border: 5px solid #888;
  background: #ccc;
}

#photo {
  width: 150px;
  /*  position: absolute;
  left: 50%;
  top: 5%;*/
  height: 150px;
  margin: 20px auto;

  border: 5px solid #888;
  border-radius: 50%;
  background-image: url(images/myself.jpg);
  background-size: contain;
}

#content {
  width: 100%;
  /*  position: absolute;
    top: 200px;*/
  height: 70px;
  margin: 0 0 50px;

  text-align: center;
}
#smalltext {
  display: block;
}
#bigtext {
  display: block;

  font-size: 32pt;
  font-weight: bold;
}

.emoji {
  display: inline-block;

  margin: 0 25px 0 25px;

  cursor: pointer;

  font-size: 32pt;
}

body {
  text-align: center;
}

button {
  margin-top: 1rem;
  padding: 1rem;

  cursor: pointer;
}
